*.o
*.exe
*.a
*.so
*.dylib
*.pyc
*.app
*.framework
Makefile*
__*
config.log
config.status
pybuilddir.txt
pyconfig.h
python.exe-gdb.py
Mac/PythonLauncher/Info.plist
Mac/PythonLauncher/Python Launcher
Mac/Resources/app/Info.plist
Mac/Resources/framework/Info.plist
Mac/pythonw
Misc/python.pc
Modules/Setup
Modules/Setup.config
Modules/Setup.local
Modules/_testembed
Modules/config.c
Modules/ld_so_aix
