*.o
*.obj
*.exe
*.a
*.so
*.dylib
*.pyc
*.app
*.framework
*.pdb
*.lib
*.dll
*.exp
*.pyd
*.user
Makefile
Makefile.pre
__*
config.log
config.status
pybuilddir.txt
pyconfig.h
python.exe-gdb.py
Mac/PythonLauncher/Info.plist
Mac/PythonLauncher/Python Launcher
Mac/Resources/app/Info.plist
Mac/Resources/framework/Info.plist
Mac/pythonw
Misc/python.pc
Modules/Setup
Modules/Setup.config
Modules/Setup.local
Modules/_testembed
Modules/config.c
Modules/ld_so_aix
PC/pythonnt_rc.h
PC/pythonnt_rc_d.h
PCbuild/Win32-temp-Debug
PCbuild/Win32-temp-Release
PCbuild/amd64
PCbuild/make_buildinfo.pdb
PCbuild/make_versioninfo_d.pdb
PCbuild/pcbuild.opensdf
PCbuild/x64-pgo
PCbuild/x64-temp-Debug
PCbuild/x64-temp-Release
PCbuild/x64-temp-pgi
PCbuild/pcbuild.sdf
PCbuild/pcbuild.suo
PCbuild/python_d.bsc
